.navigation {
	/* background-color: #3B82F6; */
	/* background-color: rgb(82, 16, 16); */
	width: 100%;
	color: rgb(82, 16, 16);
	padding: 1rem;
	border-bottom-left-radius: 1rem;
}

.navigation .link {
	color: rgb(82, 16, 16);
}

.navigation .nav-pills {
	text-align: right;
}

.navigation .nav-name {
	font-weight: bold;
}

.container {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.link-active {
	font-weight: bold;
}

.list-no-bullet {
	list-style: none;
}

.list-for-itemInline {
	display: inline;
	padding: 0rem 0.5rem;
}
